BackupPlan:
  BackupPlanName: {{ backup_plan_name }}
  Rules:
  - RuleName: incremental
    # TargetBackupVaultName: {{ backup_vault_name }}
    TargetLogicallyAirGappedBackupVaultArn: {{ backup_vault_arn }}
    ScheduleExpression: "{{ backup_rule_schedule }}"
    StartWindowMinutes: 100
    CompletionWindowMinutes: 5000
    Lifecycle:
      DeleteAfterDays: {{ backup_delete_after_days | int }}
      OptInToArchiveForSupportedResources: true
    # RecoveryPointTags:
    #   key1: foo
    #   key2: foo
    EnableContinuousBackup: true
    ScanActions:
    - MalwareScanner: GUARDDUTY
      ScanMode: INCREMENTAL_SCAN
  ScanSettings:
  - MalwareScanner: GUARDDUTY
    ResourceTypes:
    - S3
    ScannerRoleArn: {{ backup_iam_role }}